<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="menu.css">
    <title>Document</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar">
        </nav>

        <div class="banner-area">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">MINDX MENU</div>
        </div>

        <div class="menu-area d-flex justify-content-center">
            <div class="menu-content d-flex">
                <div class="menu-content-1">
                    <div class="menu">
                        <div class="menu-title" id="starters">Starters</div>
                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$29.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">AENEAN EU </div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$15.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">SED FEUGIAT</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$25.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">CONSECTETUR</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$22.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                            </div>
                        </div>

                    </div>

                    <div class="menu">
                        <div class="menu-title" id="drink">DRINKS</div>
                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$29.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">AENEAN EU </div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$15.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">SED FEUGIAT</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$25.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">CONSECTETUR</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$22.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="menu-content-2">
                    <div class="menu">
                        <div class="menu-title">Main</div>
                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$29.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">AENEAN EU </div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$15.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">SED FEUGIAT</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$25.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">CONSECTETUR</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$22.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$29.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">AENEAN EU </div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$15.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">SED FEUGIAT</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$25.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">CONSECTETUR</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$22.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                            </div>
                        </div>

                    </div>
                    <div class="menu">
                        <div class="menu-title" id="dessert">DESSERT</div>
                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$29.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">AENEAN EU </div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$15.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                            </div>
                        </div>

                        <div class="menu-dishes">
                            <div class="menu-dishes-1 d-flex">
                                <div class="menu-dishes-name">SED FEUGIAT</div>
                                <div class="menu-dishes-dot"></div>
                                <div class="menu-dishes-price">$25.99</div>
                            </div>
                            <div class="menu-dishes-2">
                                <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>

        <div class="meal-title">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;" id="lunch">LUNCH</div>
        </div>

        <div class="meal-area d-flex justify-content-center">
            <div class="meal-content d-flex">
                <div class="meal-content-1">
                    <div class="meal-card-group d-flex">
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/1.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/2.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/3.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="meal-content-1">
                    <div class="meal-card-group d-flex">
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/4.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/5.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/6.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="meal-title">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;" id="dinner">DINNER</div>
        </div>

        <div class="meal-area d-flex justify-content-center">
            <div class="meal-content d-flex">
                <div class="meal-content-1">
                    <div class="meal-card-group d-flex">
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/1.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/2.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/3.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="meal-content-1">
                    <div class="meal-card-group d-flex">
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/4.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/5.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                        <div class="meal-card d-flex">
                            <div class="meal-card-img flex-grow-1">
                                <img src="../image/gallery/6.jpg" alt="">
                            </div>
                            <div class="meal-card-info flex-grow-2 d-flex align-items-center">
                                <div class="meal-card-info-1">
                                    <div class="meal-card-info-name">SED VARIUS</div>
                                    <div class="meal-card-info-description">Aenean pharetra tortor dui in pellentesque</div>
                                    <div class="meal-card-info-price">$29.79</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>
        <div class="login-form-container w3-animate-opacity" id="loginFormContainer">
            <div class="login-form" id="loginForm">
                <div class="button-box">
                    <div id="btn-group"></div>
                    <button class="toggle-btn text-light" type="button" id="login-Btn" onclick="toLogin()">Login</button>
                    <button class="toggle-btn" type="button" id="register-Btn" onclick="toRegister()">Register</button>
                </div>
                <form id="loginFormInput" class="input-box d-flex flex-column justify-content-center">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="button-submit">Login</button>
                        <button type="button" class="button-submit" onclick="closeLoginForm()">Close</button>
                    </div>
                </form>
                <form id="registerFormInput" class="input-box">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="email" class="input-field" placeholder="Email" required>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="button-submit">Register</button>
                        <button type="button" class="button-submit" onclick="closeLoginForm()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>


</body>

</html>