<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="order.css">
    <title>Document</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar">
        </nav>

        <div class="banner-area">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">ORDER NOW</div>
        </div>


        <div class="menu-area d-flex justify-content-center">
            <div class="menu-content d-flex">

                <div class="menu-content-2">
                    <div class="" id="order">
                        <div class="create-by d-flex px-4 bg-white">Created by <p>Khanh Duy</p></div>
                        <div class="cart d-flex justify-content-between px-4 bg-white">
                            <div class="cart-dish d-flex">
                                <div class="cart-quantity">
                                    <i class="fas fa-plus-square"></i>
                                    1
                                    <i class="fas fa-minus-square"></i>
                                </div>
                                <div class="cart-dish-name px-2">PINE NUT SBRISALONA</div>
                            </div>
                            <div class="cart-price">$29.99</div>
                        </div>
                        <div class="cart d-flex justify-content-between px-4 bg-white">
                            <div class="cart-dish d-flex">
                                <div class="cart-quantity">
                                    <i class="fas fa-plus-square"></i>
                                    1
                                    <i class="fas fa-minus-square"></i>
                                </div>
                                <div class="cart-dish-name px-2">AENEAN EU</div>
                            </div>
                            <div class="cart-price">$15.99</div>
                        </div>
                        <div class="sum-price d-flex justify-content-between px-4 bg-white">
                            <div class="text">Total</div>
                            <div class="price">$30.99</div>
                        </div>
                        <div class="confirm-button bg-white">
                            <button type="button" class="btn btn-dark" onclick="toCheckoutPage()"> <i class="fas fa-check-circle"></i>Place your
                                order.</button>
                        </div>
                    </div>
                </div>
                <div class="menu-content-1">
                    <div class="menu">
                        <div class="menu-title">Starters</div>
                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/1.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$29.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>


                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/2.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">AENEAN EU </div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$15.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>


                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/3.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">SED FEUGIAT</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$25.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>
                        
                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/4.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">CONSECTETUR</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$22.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>
                    </div>

                    


                    <div class="menu">
                        <div class="menu-title">Main</div>
                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/5.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">PINE NUT SBRISALONA</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$29.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Sed fermentum eros vitae eros</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>


                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/6.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">AENEAN EU </div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$15.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Feugiat maximus neque pharetra</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>


                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/7.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">SED FEUGIAT</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$25.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Proin lacinia nisl ut ultricies posuere nulla</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>
                        
                        <div class="menu-dishes d-flex">
                            <div class="menu-dishes-img">
                                <img src="../image/gallery/8.jpg" alt="">
                            </div>
                            <div class="menu-dishes-info d-flex justify-content-center flex-column">
                                <div class="menu-dishes-1 d-flex">
                                    <div class="menu-dishes-name">CONSECTETUR</div>
                                    <div class="menu-dishes-dot"></div>
                                    <div class="menu-dishes-price">$22.99</div>
                                </div>
                                <div class="menu-dishes-2">
                                    <div class="menu-dishes-description">Etiam cursus facilisis tortor</div>
                                </div>
                            </div>
                            <div class="menu-dishes-add d-flex justify-content-center align-items-center">
                                <i class="fas fa-plus-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>
       
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>



    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDMWzZQMVaG8Xd2tnM0EFumOQ7NYH2C3LE",
            authDomain: "mindx-cj39-project.firebaseapp.com",
            databaseURL: "https://mindx-cj39-project.firebaseio.com",
            projectId: "mindx-cj39-project",
            storageBucket: "mindx-cj39-project.appspot.com",
            messagingSenderId: "300478582762",
            appId: "1:300478582762:web:c45f62772ff550702e6c93"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const DB = firebase.firestore();
    </script>
    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>
    <script src="order.js"></script>



</body>

</html>