<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="reservation.css">
    <title>Document</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar">
        </nav>


        <div class="banner-area">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">RESERVATION</div>
        </div>

        <div class="booking-area d-flex justify-content-center">
            <div class="booking-content d-flex align-items-center justify-content-center">
                <div class="booking-content-1 ">
                    <div class="reservation-text d-flex justify-content-center">Reservation</div>
                    <div class="booktable-text d-flex justify-content-center">BOOK TABLE</div>
                    <div class="book-input d-flex justify-content-center">
                        <form class="d-flex flex-column">
                            <div class="row">
                                <div class="col">
                                    <label for="">Date</label>
                                    <input type="date" class="form-control" value="2020-03-30">
                                </div>
                                <div class="col">
                                    <label for="">Time</label>
                                    <input type="time" class="form-control" value="09:00:00" >
                                </div>
                                <div class="col">
                                    <label for="">People</label>
                                    <input type="number" class="form-control" value="1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter name">
                                </div>
                                <div class="col">
                                    <label for="">Phone Number</label>
                                    <input type="number" class="form-control" placeholder="Enter phone number">
                                </div>
                                <div class="col">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>
                            <button type="button" class="btn btn-dark button-form">BOOK TABLE</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>




        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>


</body>

</html>